<div class="container">
    <div class="row d-flex justify-content-between">
        <div class="col">
            <a [routerLink]="['/films']" routerLinkActive="router-link-active">
                Films
            </a>
        </div>
        <div class="col">
            <a [routerLink]="['/musiques']" routerLinkActive="router-link-active">
                Musiques
            </a> 
        </div>
        <div class="col">
            <a [routerLink]="['/livres']" routerLinkActive="router-link-active">
                Livres
            </a> 
        </div>
    </div>
</div>